h2{
  text-align: center;
  font-family: 'Londrina Outline', cursive;
  font-size: 84px;
}
#player-1-roll, #player-1-hold, #player-2-roll, #player-2-hold, #snout, #two, #three, #four, #five, #six {
  display: none;
}
#play-btn {
  display: block;
  margin: 0 auto;
}
#dice {
  display: none;
  text-align: center;
}
body{
  background-color: #fca9a1;
}
.btn {
  background-color: white;
  color: black;
  border-color: black;

}
.btn:hover{
  background-color: grey;
}
img{
  width: 202px;
  display: block;
  margin:0 auto;
}
